<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dc/2.1.8/dc.min.css" type="text/css" />

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

  

</head>

<body>
  <header class="header1">
<!-- Dropdown Structure -->
<ul id="dropdown" class="dropdown-content">
  <li><a href="{{url_for('get_cuisine')}}">Cuisines</a></li>
  <li class="divider"></li>
  <li><a href="{{url_for('get_author')}}">Chefs</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="{{url_for('get_tasks')}}" class="brand-logo">Belly convent</a>
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="{{url_for('get_tasks')}}">Recipes</a></li>
      <li><a href="{{url_for('add_recipe')}}">Add</a></li>
      <li><a href="{{url_for('graphic')}}">Graph</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown">Preferences<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <ul class="sidenav" id="mobile-nav">
      <li><a href="{{url_for('get_tasks')}}">Recipes</a></li>
      <li><a href="{{url_for('add_recipe')}}">Add</a></li>
      <li><a href="{{url_for('graphic')}}">Graph</a></li>
      <li><a href="{{url_for('get_cuisine')}}">Cuisines </a></li>
      <li><a href="{{url_for('get_author')}}">Chefs</a></li>
      
    </ul>
  </div>
</nav>  
  
  
  
  
  
  
  
    <title>{% block title %}{% endblock %}</title>
    <h1>{% block page_title %}{% endblock %}</h1>


  </header>


<p>Click <a href="/logout">here</a>to logout</p>
<p>Click <a href="/login">here</a>to login</p>






  <div class="container">
    <div>
      {% for message in get_flashed_messages() %} {{ message }} {% endfor %}
    </div><br><br>
    {% block content %}{% endblock %}
    
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.0.js" </script>
    
    M.AutoInit();
  </script>
  <script >
    M.AutoInit();
    $(".dropdown-trigger").dropdown();
  </script>
  {% block scripts %}{% endblock %}

  </div>



  
</body>

</html>
