{% extends 'fundation_template.html' %}

{% block title %}Hello Food recipe, me fire don´t know{% endblock %}
{% block page_title %}Recipes graph{% endblock %}

{% block content %}
    <div id="first-graph">
        <h2>First graph</h2>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.8.0/d3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dc/3.0.10/dc.min.js"></script>

    <!--<script type="text/javascript" src="{{url_for('static', filename='js/d3.min.js')}}"></script>-->
    <!--<script type="text/javascript" src="{{url_for('static', filename='js/crossfilter.min.js')}}"></script>-->
    <!--<script type="text/javascript" src="{{url_for('static', filename='js/dc.min.js')}}"></script>-->
    <!--<script type="text/javascript" src="{{url_for('static', filename='js/queue.min.js')}}"></script>-->
    
    <script type="text/javascript" src="{{url_for('static', filename='js/graphic.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/procedures.js')}}"></script>
{% endblock %}
