{% extends 'fundation_template.html' %} {% block content %}
<div class="container">
    <div class="row">
        <h3 class="login_function_title">Login form</h3>
        <div class=" login_function col-md-4 col-md-offset-4">
            <form method=POST action="/user_check">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="User name">
                </div>
                <div class="form-group">
                    <label for="exampleImputPasword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </form>
            <br>
            <div>
                Don´t have an account yet?<a href="{{ url_for('register') }}">  Sign up here</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
