{% extends 'fundation_template.html' %} 
{% block content %}

  <div class="row">
    <div class="col s12 m12">
      <div class="card">
        <span class="card-title"><h3>{{procedure.food_name}}</h3></span>
        
    {% if procedure.image  %}
      <img class="featurette-image img-responsive" src="{{procedure.image}}" style="width:100%;" alt="Generic placeholder image">
    {% else %}
      <img class="featurette-image img-responsive" src="{{url_for('static', filename='images/Sorry-Image-Not-Available (1).jpg') }}" style="width:100%;" alt="Generic placeholder image">
    {% endif  %}
    <div class="card-image">
          <a class="btn-floating halfway-fab waves-effect waves-light yellow"><i class="material-icons">star</i></a>
          <a href={{url_for( 'upvote_recipe', procedure_id=procedure._id)}} id="upvote" class="hvr-grow waves-effect waves-light btn btn_big darken-1 tooltipped" data-position="bottom" data-tooltip="Upvote"><i class="fa fa-thumbs-up" aria-hidden="true"></i>{{procedure.votes}}</a>
          <a href={{url_for( 'downvote_recipe', procedure_id=procedure._id)}} id="downvote" class="hvr-grow waves-effect waves-light btn btn_big darken-1 tooltipped" data-position="bottom" data-tooltip="Downvote"><i class="fa fa-thumbs-down" aria-hidden="true"></i>{{procedure.votes}}</a>
        <div class="card-action">
      
    </div>
      <div class="card-content">
        <h5 class="recipe-titles">Know what you eat</h5>
        <p>{{procedure.food_context}} </p>
      </div>
      <div class="card-content">
        <h5 class="recipe-titles">Ingredients</h5>
        <p>{{procedure.food_ingredients}}</p>
      </div>
      <div class="card-content">
        <h5 class="recipe-titles">Preparation</h5>
        <p>{{procedure.food_description}}</p>
      </div>
      <div class="card-content">
        <p>Recipe with <em><strong>{{procedure.cuisine_name}}</strong></em> style that can be prepared in <em><strong>{{procedure.preparation_food}} minutes </strong></em> approximately, That will result in a <em><strong>{{procedure.food_course}}</strong></em>              ready to after <em><strong>{{procedure.cooking_time}} minutes</strong></em> coocking time.
          
            <!-- Modal Trigger -->
        <a class="btn-floating halfway-fab waves-effect waves-light red btn modal-trigger" href="#modal1"><i class="material-icons">delete_forever</i></a>
            <!-- Modal Delete -->
      <div id="modal1" class="modal">
        <div class="modal-content">
          <span class="circle_attention"></span>
          <p class='modaltext'>Do you really want to delete the recipe?</p>
        <div class="modal-footer1">
          <a href="{{url_for('delete_recipe', procedure_id = procedure._id)}}" class="modal-close waves-effect waves-red btn waves-effect waves-light green">Yes</a>
        </div>
        <div class="modal-footer2">
          <a href="#!" class="modal-close waves-effect waves-green btn waves-effect waves-light red">No</a>
        </div>
      </div>
    </div>
        </p>
  </div>
        <div class="card-content">
          The author of the recipe is <em><strong>{{procedure.author_name}}</em></strong>. And nutritionally stand in the <em><strong>{{procedure.predominant_group}}</em></strong> group. The preparate is <em><strong>{{procedure.celiacs}}</strong></em> for <u>Celiacs</u> and <em><strong>{{procedure.gluten_free}}</strong></em> for <u>Gluten free</u> diet.
        </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}

{% block scripts %}
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
    <script type="text/javascript">
      $(document).ready(function() {
        $('.modal').modal();
      });
  </script>
{% endblock %}

