 {% extends 'fundation_template.html' %} {% block content %}


<div class="center-align margin-top-3vh">
</div>

{% if procedures.count() == 0 %}
<h6 class="text-center">No recipes found....</h6>  
{% else %}
  <em><strong>{% for search in procedures %}</strong></em>
     
    <div class="card-image">      
      
      <img class="featurette-image img-responsive" src="{{search.image}}" style="width:100%;" alt="Generic placeholder image">
      
      <span class="card-title"><h3>{{search.food_name}}</h3></span>
      
    </div> 
    
    <div class="card-content">
          <h5 class="recipe-titles">Know what you eat</h5>
          <p>{{search.food_context}} </p>
        </div>

        <div class="card-content">
          <h5 class="recipe-titles">Ingredients</h5>
          <p>{{search.food_ingredients}}</p>
        </div>

        <div class="card-content">
          <h5 class="recipe-titles">Preparation</h5>
          <p>{{search.food_description}}</p>
        </div>
        
         <div class="card-content">
          <p>Recipe with <em><strong>{{search.cuisine_name}}</strong></em> style that can be prepared in <em><strong>{{search.preparation_food}} minutes </strong></em> approximately, That will result in a <em><strong>{{search.food_course}}</strong></em>            ready to after <em><strong>{{search.cooking_time}} minutes</strong></em> coocking time.
          </div>
          
          The author of the recipe is <em><strong>{{search.author_name}}</em></strong>. And nutritionally stand in the <em><strong>{{search.predominant_group}}</em></strong> group. The preparate is
          <em><strong>{{search.celiacs}}</strong></em> for <u>Celiacs</u> and <em><strong>{{search.gluten_free}}</strong></em> for <u>Gluten free</u> diet.
          </div>
         </div>
         <br>
         <br>
         <br>
         <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
         </ul>
         <br>
         <br>
         <br>
      



    {% endfor %}
    {% endif %}
    {% endblock content %}





    

</div>

   
    
    
        

    