{% extends 'fundation_template.html' %} {% block content %}

<div class="wrapper">
    <div class="container sub_nav"></div>
        <h3 class="recipes_title">Recipes</h3>
            <hr>
    <div class="row customisations">
        <div class="pull-left input-field col s5">
            <form  id="search-form-mobile" action="{{ url_for('search_results') }}" value: "search" method="POST" >
                <div class="input-field"><i class="material-icons prefix">search</i>
                    <input class="mobile-search-bar" type="search" name="search_text" value="{{result['search_text']}}" placeholder="Search">
                    <i class="material-icons" id="sendFormMobile" for="submit-form">search</i>
                </div>
            </form>
        </div>
<div class="col-md-12">
    <div class="row">
        <div class="pull-right ">
            <a  class='dropdown-trigger btn' href='#' data-target='dropdown1'>Sorting option menu</a>
           <ul id='dropdown1' class='dropdown-content'>
                <li><a href="{{url_for('get_tasks')}}?order_by=gluten_free&order=desc" selected><img src="/static/images/gluten-free (1).png" alt="" class="circle">&emsp;Gluten free</a></li>
                <li><a href="{{url_for('get_tasks')}}?order_by=celiacs_desc&order=desc"><img src="/static/images/celery (1).png" alt="" class="circle">&emsp;Celiacs</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="{{url_for('get_tasks')}}?order_by=predominant_group&order=asc"><img src="/static/images/pyramid.png" alt="" class="circle">&emsp;Food group up</a></li>
                <li><a href="{{url_for('get_tasks')}}?order_by=predominant_group&order=desc"><img src="/static/images/analytics.png" alt="" class="circle">&emsp;Food group down</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="{{url_for('get_tasks')}}?order_by=author_name&order=asc"><img src="/static/images/chef (1).png" alt="" class="circle">&emsp;Author up</a></li>
                <li><a href="{{url_for('get_tasks')}}?order_by=author_name&order=desc"><img src="/static/images/chef.png" alt="" class="circle">&emsp;Author down</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="{{url_for('get_tasks')}}?order_by=cooking_time&order=asc"><img src="/static/images/alarm-clock-icon.png" alt="" class="circle">&emsp;Cooking time up</a></li>
                <li><a href="{{url_for('get_tasks')}}?order_by=cooking_time&order=desc"><img src="/static/images/cooking-time.png" alt="" class="circle">&emsp;Cooking time down</a></li>
                <li class="divider" tabindex="-1"></li>
                <li><a href="{{url_for('get_tasks')}}?order_by=votes&order=asc"><img src="/static/images/thumb-down-symbol-of-a-black-hand.png" alt="" class="circle">&emsp;Downvote</a></li>
                <li><a href="{{url_for('get_tasks')}}?order_by=votes&order=desc"><img src="/static/images/ok-like-hand-sign.png" alt="" class="circle">&emsp;Upvote</a></li>
            </ul>
        </div>
    </div>
</div>
        
        <!--<div class="pull-right input-field col s4">-->
      
<!--<select id="selected" class="mdb-select md-form" multiple searchable="Search for...">-->
<!--    <option value="" disabled selected>Sorting options</option>-->
<!--    <option value="{{url_for('get_tasks')}}?order_by=gluten_free&order=desc" data-icon="/static/images/gluten-free (1).png" class="rounded-circle">&emsp;Gluten free</option>-->
<!--    <option value="{{url_for('get_tasks')}}?order_by=celiacs_desc&order=desc" data-icon="/static/images/celery (1).png" class="rounded-circle">&emsp;Celiacs</option>-->
<!--    <div class="divider" tabindex="-1"></div>-->
<!--    <option value="{{url_for('get_tasks')}}?order_by=predominant_group&order=asc"  data-icon="/static/images/pyramid.png" class="rounded-circle">&emsp;Food group up</option>-->
<!--    <option value="{{url_for('get_tasks')}}?order_by=predominant_group&order=desc" data-icon="/static/images/analytics.png" class="rounded-circle">&emsp;Food group down</option>-->
    
<!--    <option value="{{url_for('get_tasks')}}?order_by=author_name&order=asc" data-icon="/static/images/chef (1).png" class="rounded-circle">&emsp;Author up</option>-->
<!--    <option value="{{url_for('get_tasks')}}?order_by=author_name&order=desc" data-icon="/static/images/chef.png" class="rounded-circle">&emsp;Author down</option>-->
    
<!--    <option value="{{url_for('get_tasks')}}?order_by=cooking_time&order=asc" data-icon="/static/images/cooking.png" class="rounded-circle">&emsp;Cooking time up</option>-->
<!--    <option value="{{url_for('get_tasks')}}?order_by=cooking_time&order=desc" data-icon="/static/images/cooking-time.png" class="rounded-circle">&emsp;Cooking time down</option>-->
    
<!--    <option a href="{{url_for('get_tasks')}}?order_by=votes&order=asc" selected data-icon="/static/images/thumb-down-symbol-of-a-black-hand.png" class="rounded-circle">&emsp;Downvote</a></option>-->
<!--    <option value="{{url_for('get_tasks')}}?order_by=votes&order=desc" data-icon="/static/images/ok-like-hand-sign.png" class="rounded-circle">&emsp;Upvote</option>-->
<!--  </select>-->
<!--  <button class="btn-save btn btn-primary btn-sm">Save</button>-->

 <!--function GetSelectedText(){-->
	<!--			var e = document.getElementById("country");-->
	<!--			var result = e.options[e.selectedIndex].text;-->
				
	<!--			document.getElementById("result").innerHTML = result;-->
	<!--		}-->
<!--   <select id="country">-->
	<!--	<option value="None">-- Select --</option>-->
	<!--	<option value="{{url_for('get_tasks')}}?order_by=gluten_free&order=desc">&emsp;Gluten free</option>-->
	<!--	<option value="{{url_for('get_tasks')}}?order_by=celiacs_desc&order=desc" selected>&emsp;Celiacs</option>-->
	<!--	<option value="ID003"><a href="{{url_for('get_tasks')}}?order_by=gluten_free&order=desc" selected>Malaysia</a></option>-->
	<!--</select>-->

 <!--   <button type="button" onclick="GetSelectedText()">Get Selected Text</button>-->
    </div>
</div>  
<hr>
    <div class="tudor">
        <ul class="collapsible" data-collapsible="accordion">
            {% for procedure in result['items'] %}
            <li>
                <div class="collapsible-header">
                    <div class="col s3">
                        <i class="fa fa-cutlery" aria-hidden="true"></i>
                            <a href="{{url_for('edit_recipe', procedure_id=procedure._id)}}" class="waves-effect waves-light btn btn_large">Edit</a>
                            <a href="{{url_for('see_recipe', procedure_id=procedure._id) }}" class="btn-floating btn-medium waves-effect waves-light red btn_small"><i class="material-icons">arrow_forward</i></a>
                    </div>
                <div class="coll s12"><strong>{{procedure.food_name}}</strong> - {{procedure.predominant_group}}</div>
    </div>
        <div class="collapsible-body"><span>{{procedure.food_context}}</span></div>
            </li>
            {% endfor %}
            <ul class="pagination">
                {% if result['prev_uri'] is none %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                <li class="waves-effect"><a href="{{ url_for('get_tasks') }}?page_number={{result['prev_uri']['page_number']}}&page_size={{result['prev_uri']['page_size']}}&search_text={{result['search_text']}}&order_by={{result['order_by']}}&order={{result['order']}}">
                    <i class="material-icons">chevron_left</i></a></li>
                {% endif %} {% for page in range(1, result['page_count'] + 1) %} {% if result['page_number'] == page %}
                <li class="waves-effect active">
                    {% else %}
                    <li class="waves-effect">
                        {% endif %}
                        <a href="{{ url_for('get_tasks') }}?page_number={{page}}&page_size={{result['page_size']}}&search_text={{result['search_text']}}&order_by={{result['order_by']}}&order={{result['order']}}">{{ page }}</a></li>
                    {% endfor %} {% if result['next_uri'] is none %}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    {% else %}
                    <li class="waves-effect"><a href="{{ url_for('get_tasks') }}?page_number={{result['next_uri']['page_number']}}&page_size={{result['next_uri']['page_size']}}&search_text={{result['search_text']}}&order_by={{result['order_by']}}&order={{result['order']}}">
                    <i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
            </ul>
            
            <div class="collapsible-header">
                <div class="col s3 add_button">
                    <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn">
                <i class="material-icons right">add_circle_outline</i>Add recipe</a>
                </div>
            </div>

            
        </ul>
    </div>
</div>

<script type="text/javascript">
    function myFunction() {
        document.getElementById("mySearch").value = "search";
    }
    function GetSelectedText(){
				var e = document.getElementById("country");
				var result = e.options[e.selectedIndex].text;
				
				document.getElementById("result").innerHTML = result;
			}

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.fixed-action-btn');
        
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
    $('#bs').materialSelect({
    BSsearchIn: true
        });
    });    
});

</script>
{% endblock %}
